/* Using flexBox */

.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
}

.calc-wrapper {
  height: 360px;
  width: 70%;
  background-color: #636e72;
}
.row {
  display: flex;
  width: 100%;
}
/* display screen */
.input {
  height: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5em;
  outline: 1px solid #888888;
}

.button-wrapper {
  height: 4em;
  width: 0.1em;
  display: flex;
  flex: 1;
  margin: 2px;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  background-color: #e0e1e6;
  color: #888888;
  outline: 1px solid #888888;
}
