/* Using flexBox

<-------- JUSTIFY AXIS -------->
^
|
|
| ALIGN AXIS
|
^

 */

.flex-container {
  display: flex;
  background-color: #c0c0c0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 400px;
  justify-content: flex-start;
  align-content: flex-start;
  /*
  percentage sizes causing issues with centering
  height: 90%;
  width: 70%;
  */
  padding: 10px;
  padding-top: 10px;
  background-color: grey;
}
/* Make a flex Item bigger than rest */
.big-flex {
  /*flex-grow: 2;*/
  flex-basis: 100px;
}
.display-screen {
  display: flex;
  flex-basis: 500px;
  height: 100px;
  background-color: black;
  color: #fff;
  font-size: x-large;
  align-items: center;
  padding: 15px;
}

button {
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  font-size: 1em;
  background-color: #e0e1e6;
  color: #888888;
  outline: 1px solid #888888;
  margin: 5px;
}
